h1, h2, h3, p {
  font-family: "Helvetica", sans-serif;
}
h1 {
  font-size: 100px;
  font-weight:bold;
  color:khaki;
  text-align: center;
  /*Pattern image background for the main headline */
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h2 {
  font-size:32px;
  font-weight:bold;
  color:white;
}

/* h2 background colors*/
#brush {
  background-color:MediumSpringGreen;
}
#frame {
  background-color: LightCoral;
}
#paint{
  background-color: SkyBlue;
}

/*Pricing style enchancing*/
span {
  color:blue;
  font-weight:bold;
}
